<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">


<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mailSender.host}" />
		<property name="port" value="${mailSender.port}" />
		<property name="username" value="${mailSender.username}" />
        <property name="password" value="${mailSender.password}" />

        <!-- The name of the property, following JavaBean naming conventions -->
        <property name="javaMailProperties">
		<props>
			<prop key="mail.transport.protocol">${mailSender.transport.protocol}</prop>
			<prop key="mail.smtp.auth">${mailSender.smtp.auth}</prop>
			<prop key="mail.smtp.starttls.enable">${mailSender.smtp.starttls.enable}</prop>
			<prop key="mail.debug">${mailSender.debug}</prop>
		</props>
	</property>
	</bean>
	
</beans>