<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true">

    <!-- 激活注解 -->
    <!--<mvc:annotation-driven />-->

    <!-- 配置SpringMVC @ResponseBody和@RequestBody注解  by pangzhenhua 20151230-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">

            <!-- responseBody -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper">
                    <bean class="com.fooee.commons.web.vo.ObjectMapperCustomer"></bean>
                    <!-- 	                <bean class="com.fasterxml.jackson.databind.ObjectMapper"> -->
                    <!-- 配置转json忽略Null -->
                    <!-- 	                    <property name="serializationInclusion"> -->
                    <!-- 	                        <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_NULL</value> -->
                    <!-- 	                    </property> -->
                    <!-- 	                </bean> -->
                </property>
            </bean>

            <!-- 表单到后台 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 扫描基包,注意springmvc不能扫描service,否则事务无效 -->
    <context:component-scan base-package="com.fooee.winqing.management.web.controller"/>
    <context:component-scan base-package="com.fooee.commons"/>

    <!-- 静态资源访问映射 -->
    <mvc:resources mapping="/template/**" location="/template/" cache-period="31556926"/>
    <mvc:resources mapping="/resources/upload/**" location="http://120.76.212.9:8888/resources/upload/" cache-period="31556927"/>
    <mvc:resources mapping="/resources/upload/headPic/**" location="http://120.76.212.9:8888/resources/upload/headPic/" cache-period="31556927"/>
    <mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556927"/>
    <mvc:resources mapping="/attached/**" location="/attached/" cache-period="31556927"/>
    <mvc:resources mapping="/Upload/**" location="/Upload/" cache-period="31556927"/>


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config/properties/*.properties</value>
            </list>
        </property>
    </bean>

    <!-- 视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/><!-- 多解析器 -->
    </bean>

    <!-- 配置Velocity引擎 -->
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
        <property name="configLocation" value="classpath:config/properties/velocity.properties"/>
    </bean>

    <!-- 配置Velocity视图解析器 -->
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="cache" value="false"/>
        <property name="order" value="0"/>
        <property name="suffix" value=".vm"/>
        <property name="requestContextAttribute" value="rc"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="layoutUrl" value="/layout/default.vm"/>
        <property name="toolboxConfigLocation" value="WEB-INF/classes/config/velocity/velocity-toolbox.xml"/>
    </bean>

    <!-- 配置MultipartResolver 用于文件上传 使用spring的CommosMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="5400000"/>
        <property name="uploadTempDir" value="fileUpload/temp"/>
    </bean>

    <!-- 用户权限拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <!--<mvc:exclude-mapping path="/" />-->
            <mvc:exclude-mapping path="/login" />
            <bean class="com.fooee.winqing.management.web.interceptor.SessionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 默认控制器 -->
    <mvc:view-controller path="/" view-name="main" />

</beans>