<script type="text/javascript" src="/resources/js/movie/update.js"></script>


<style>
    #photo {
        width: 300px;
        height: 400px;
        max-width: 100%;
    }
    .img-preview {
        width: 300px;
        height: 400px;
        overflow: hidden;
    }
    label {
        margin-top:10px;
    }
    #result {
        width: 150px;
        height: 150px;
    }
</style>

<div class="container-full">

    <!-- 面包导航开始 -->
    <div class="headerBox">
        <div class="active_com">
            <span class="position"><b class="map-marker"></b>当前位置：</span>
            <ul class="ul">
                <li><a href="JavaScript:;"> <span>首 页</span>
                </a> <b> > </b></li>
                <li><a href="JavaScript:;"> <span>电影信息</span>
                </a> <b> > </b></li>
                <li><a href="JavaScript:;"> <span>电影信息编辑</span>
                </a></li>
            </ul>
        </div>
    </div>
    <!-- 面包导航结束 -->

    <div class="row">&nbsp;</div>

    <div class="container">

        <div class="row">
            <div class="col-sm-6 ">
                <img id="photo">
            </div>
            <div class="col-sm-2">
                <div>
                    <div class="img-preview img-rounded">
                        <img src="$!{movieInfo.pictureAddress}" >
                    </div>
                </div>

                <div>
                    <p>
                        <label for="input" class="btn btn-danger" id="">
                            <span>选择图片</span>
                            <input type="file" id="input" class="sr-only">
                        </label>
                    </p>
                </div>

            </div>
        </div>

        <div class="row">&nbsp;</div>

        <form class="form-horizontal" id="form_object">
            <input type="hidden" name="id" value="${movieInfo.id}" />

            <div class="form-group">
                <label class="col-sm-1 control-label">片名</label>
                <div class="col-md-4">
                    <input class="form-control" name="movieName" value="$!{movieInfo.movieName}" />
                </div>
                <label class="col-sm-1 control-label">又名</label>
                <div class="col-md-4">
                    <input class="form-control" name="aliasName" value="$!{movieInfo.aliasName}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">原名</label>
                <div class="col-md-4">
                    <input class="form-control" name="realName" value="$!{movieInfo.realName}" />
                </div>
                <label class="col-sm-1 control-label">主演</label>
                <div class="col-md-4">
                    <input class="form-control" name="mainActorName" value="$!{movieInfo.mainActorName}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">导演</label>
                <div class="col-md-4">
                    <input class="form-control" name="directorName" value="$!{movieInfo.directorName}" />
                </div>
                <label class="col-sm-1 control-label">编剧</label>
                <div class="col-md-4">
                    <input class="form-control" name="screenwriterName" value="$!{movieInfo.screenwriterName}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">类型</label>
                <div class="col-md-4">
                    <input class="form-control" name="typeName" value="$!{movieInfo.typeName}" />
                </div>
                <label class="col-sm-1 control-label">语言</label>
                <div class="col-md-4">
                    <input class="form-control" name="languageName" value="$!{movieInfo.languageName}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">片长</label>
                <div class="col-md-4">
                    <input class="form-control" name="movieLengthNumber" value="$!{movieInfo.movieLengthNumber}" />
                </div>
                <label class="col-sm-1 control-label">集数(电视)</label>
                <div class="col-md-4">
                    <input class="form-control" name="episodeNumber" value="$!{movieInfo.episodeNumber}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">国家/地区</label>
                <div class="col-md-4">
                    <input class="form-control" name="conturyName" value="$!{movieInfo.conturyName}" />
                </div>
                <label class="col-sm-1 control-label">首映日期</label>
                <div class="col-md-4">
                    <input class="form-control" name="releaseDate" id="datetimepicker" data-date-format="yyyy-mm-dd" value="$!date.format('yyyy-MM-dd',$!{movieInfo.releaseDate})  " />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">分类</label>
                <div class="col-md-4">
                    <select class="form-control" name="categoryCode">
                        <option value="DY" #if($movieInfo.categoryCode=='DY') selected #end>电影</option>
                        <option value="DSJ" #if($movieInfo.categoryCode=='DSJ') selected #end>电视剧</option>
                    </select>
                </div>
            </div>


            <!-- 大字段 -->
            <div class="form-group">
                <label class="col-sm-1 control-label">剧情简介</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="plotBrief">$!{movieDesc.plotBrief}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">编辑推荐</label>
                <div class="col-md-9">
                    <textarea class="form-control" rows="3" name="editorRecommendInfo">$!{movieDesc.editorRecommendInfo}</textarea>
                </div>
            </div>

            <a id="btn_save" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 处理中...">提交</a>
            <a class="btn btn-primary" href="/movie/manage">返回列表</a>
        </form>
    </div>
</div>