#set($layout="layout/none.vm")

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<base target="_top"></base>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>admin</title>
<link href="resources/css/login.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery.cookie.js"></script> -->
<!-- <script type="text/javascript" src="js/login.js"></script> -->

</head> 
<body>

<div class="login">
	<h1>管理系统</h1>
	<form method="post" action="login" id="LoginForm" target="_top">
		<input type="text" name="mblphNo" placeholder="用户名" required="required" />
		<input type="password" name="loginPswd" placeholder="密码" required="required" />
		<button type="submit" class="btn btn-primary btn-block btn-large" onClick="$('#LoginForm').submit();">登录</button>
	</form>
</div>

</body>
<script type="text/javascript">
// 	loginFocus();
// 	errorMessage();
	document.target="_top";
</script>
</html>
