<div class="container-full">

    <!-- 面包导航开始 -->
    <div class="headerBox">
        <div class="active_com">
            <span class="position"><b class="map-marker"></b>当前位置：</span>
            <ul class="ul">
                <li><a href="JavaScript:;"> <span>首 页</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 面包导航结束 -->


    <div class="bodyBox">
    welcome
    </div>

</div>