<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">winqing</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" class="font-white">管理首页</a></li>
            </ul>

            <ul class="nav navbar-nav" id="menu_tree">
                <li>loading...</li>

                <script id="menu_tree_tpl" type="text/template">
                {@each data as i}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        #{i.functionName} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {@each i.children as child}
                        <li><a href="${contextPath}/#{child.functionUrl}" class="font-white">#{child.functionName}</a></li>
                        {@/each}
                    </ul>
                </li>
                {@/each}
                </script>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm" id="divUserInfo">

                    <li><a href="${contextPath}/user" class="font-white">$manageUserSession.userName</a></li>
                    <li><a href="${contextPath}/logout" class="font-white"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>

            </ul>
        </div>
    </div>
</nav>